.important{
  font-family: fantasy;
  color: darkblue;
}

.items {
  font-style: oblique;

}

.green-background {
  background-color: green;
}

.light-text {
  color: yellow;
}

.yellow-background {
  background-color: yellow;
}

.dark-text {
  color: blue;
}
